@{
	ViewBag.Title = "Home Page";
    Html.ScriptRootInclude("https://maps.googleapis.com/maps/api/js?sensor=false");
}
@{
Html.ScriptInlineInclude(
    @<script>
         var app = angular.module("oravaci", []);

         app.factory('layoutService', function ($rootScope) {
             var layoutService = {};

             layoutService.height = $(window).height() + "px";
             layoutService.selectionActive = false;
             
             angular.element(window).bind('resize', function () {
                 layoutService.broadcastLayout();
             });

             $rootScope.$on("selectionActivated", function (event, detailActive, extendedDetail) {
                 layoutService.detailActive = detailActive;
                 layoutService.extendedDetail = extendedDetail;
                 layoutService.broadcastLayout();
             });

             layoutService.broadcastLayout = function () {
                 var windowHeight = $(window).height();
                 var detailHeight = layoutService.detailActive ? (layoutService.extendedDetail ? Math.max(200, windowHeight * 0.7) : 200) : 0;
                 layoutService.detailHeight = detailHeight;
                 layoutService.height = windowHeight;
                 layoutService.mapHeight = (windowHeight - detailHeight);
                 $rootScope.$broadcast('handleLayout');
             };

             return layoutService;
         });

         app.directive('formInput', function() {
             return {
                 restrict: 'E',
                 compile: function(element, attrs) {
                     var type = attrs.type || 'text';
                     var required = attrs.hasOwnProperty('required') ? "required='required'" : "";
                     var htmlText = '<span>' +
                         '<label for="' + attrs.formId + '">' + attrs.label + '</label>' +
                         '<input type="' + type + '" ng-model="' + attrs.formId + '" ' + required + " " + attrs.type + '>' +
                         '</span>';
                     element.replaceWith(htmlText);
                 }
             };
         });
         
         app.directive('integer', function () {
             var INTEGER_REGEXP = /^\-?\d+$/;
             return {
                 require: 'ngModel',
                 link: function(scope, elm, attrs, ctrl) {
                     ctrl.$parsers.unshift(function(viewValue) {
                         if (INTEGER_REGEXP.test(viewValue)) {
                             // it is valid
                             ctrl.$setValidity('integer', true);
                             return parseInt(viewValue);
                         } else {
                             // it is invalid, return undefined (no model update)
                             ctrl.$setValidity('integer', false);
                             return undefined;
                         }
                     });
                 }
             };
         });
     </script>
    );
}
@Html.Partial("Map")
@Html.Partial("Items")

